@model EmployeeManagement.Common.ViewModels.EmployeeVM

@{
    ViewData["Title"] = "EmployeeEdit";
    Layout = "~/Views/EmployeeAccount/_LayoutEmployeeAccount.cshtml";
}

<h2>Bilgi Güncelleme</h2>

@if (ViewBag.success == "true")
{
    <div class="alert alert-info">
        <span>Bilgileriniz Güncellenmiştir.</span>
    </div>
}
<div class="row">
    <form class="w-100" asp-action="EmployeeEdit" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="UserName" class="control-label"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="control-label"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BirthDay" class="control-label"></label>
            <input asp-for="BirthDay" type="text" id="birthDay" class="form-control" />
            <span asp-validation-for="BirthDay" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="City" class="control-label"></label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Gender" class="control-label"></label>
            <select class="form-control" asp-for="Gender" asp-items="@ViewBag.Gender"></select>
        </div>
        <div class="form-group">
            <label class="control-label">Resim</label>
            <input asp-for="Picture" class="form-control" type="file" name="employeePicture" />
        </div>
        <div class="form-group">
            <input type="submit" value="Güncelle" class="btn btn-primary" />
        </div>
    </form>
</div>


@section Scripts{
    <script>
        $('#birthDay').mask("99.99.9999")
    </script>
}


