@model EmployeeManagement.Common.ViewModels.EmployeeAccountPasswordResetVM
@{
    Layout = "~/Views/Account/_LayoutAccount.cshtml";
}

<title>Şifre Yenileme</title>

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            @if (ViewBag.status == "success")
            {
                <style>
                    .card {
                        height: auto !important;
                        display: flex !important;
                        justify-content: center !important;
                    }

                    .alert {
                        margin-bottom: 0 !important;
                    }
                </style>
                <div class="alert alert-info">
                    Şifreniz başarıyla yenilenmiştir. Giriş sayfasından yeni şifreniz ile giriş yapabilirsiniz.
                </div>
                <a class="btn btn-link" asp-action="Login" asp-controller="Account">Giriş için tıklayınız.</a>
            }
            else
            {
                <style>
                    .card {
                        height: auto !important;
                        padding:10px !important;
                        
                    }
                    .card-header{
                        text-align:center !important;
                    }
                    .submit-group{
                        display:flex !important;
                        justify-content:center !important;
                    }
                    
                </style>
                <div class="card-header">
                    <h3>Yeni Şifre</h3>
                </div>
                <div class="card-body">
                    <form asp-action="ResetPasswordConfirm" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input asp-for="PasswordNew" class="form-control" placeholder="Yeni Şifreniz" />
                            <span asp-validation-for="PasswordNew" class="text-danger"></span>
                        </div>
                        <div class="form-group submit-group">
                            <input type="submit" value="Gönder" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>
</div>